.logo {
    padding: 10px;
  }

.head {
    display: flex;
    background-image: url('../Images/hero_image.png');
    height: 999px;
    width: 100%;
}

.nav {
    display: flex;
    padding: 20px;
  }

.right {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

.menu {
    padding: 25px;
    align-items: right;
  }

.ml-auto {
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.foot {
  height: 400px;
  width: 100%;
  text-align: left;
}

.skills {
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.image_padding {
  height: 700;
  width: 700;
  padding-left: 20px;
  padding-right: 20px;
}

.section_title {
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}

.sub_section_title {
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: left;
}

.river {
  padding-left: 400px;
  padding-right: 400px;
}

.line-1 {
  height: 1px;
  background: black;
}