.nav-justify {
  justify-content: right;
  padding: 10px;
}

.justify-center {
  text-align: center;
}

.tools-title-color {
  color: #D2834F;
}

.padding-left {
  padding-left: 20%;
}

.padding-right {
  padding-right: 20%;
}

.padding-top {
  padding-top: 15px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.tool-image-sizing {
  height: 50%;
  width: 50%;
}

.flex-style {
  display: flex;
}

.solid-line {
  width: 100%; 
  text-align: center; 
  border-bottom: 5px solid #D2834F; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.solid-line-span { 
   background:#fff; 
   padding:0 10px; 
}
